{
    "library_list": [
        {
            "name": "Basic",
            "path": "Z:\\OneDrive\\Projects\\AHKManager\\source\\test\\test_data\\AutoHotKey\\Basic",
            "script_list": [
                {
                    "name": "Kill All Script",
                    "path": "Z:\\OneDrive\\Projects\\AHKManager\\source\\test\\test_data\\AutoHotKey\\Basic\\Kill All Script.ahk",
                    "state": {
                        "lock": false,
                        "startup": false
                    }
                },
                {
                    "name": "Scripts Toggle",
                    "path": "Z:\\OneDrive\\Projects\\AHKManager\\source\\test\\test_data\\AutoHotKey\\Basic\\Scripts Toggle.ahk",
                    "state": {
                        "lock": false,
                        "startup": false
                    }
                }
            ],
            "state": {
                "lock": false,
                "startup": false
            }
        },
        {
            "name": "Script Manager",
            "path": "Z:\\OneDrive\\Projects\\AHKManager\\source\\test\\test_data\\AutoHotKey\\Basic\\Script Manager",
            "script_list": [
                {
                    "name": "Script Manager 2",
                    "path": "Z:\\OneDrive\\Projects\\AHKManager\\source\\test\\test_data\\AutoHotKey\\Basic\\Script Manager\\Script Manager 2.ahk",
                    "state": {
                        "lock": false,
                        "startup": false
                    }
                },
                {
                    "name": "Script Manager Custom",
                    "path": "Z:\\OneDrive\\Projects\\AHKManager\\source\\test\\test_data\\AutoHotKey\\Basic\\Script Manager\\Script Manager Custom.ahk",
                    "state": {
                        "lock": false,
                        "startup": false
                    }
                },
                {
                    "name": "Script Manager",
                    "path": "Z:\\OneDrive\\Projects\\AHKManager\\source\\test\\test_data\\AutoHotKey\\Basic\\Script Manager\\Script Manager.ahk",
                    "state": {
                        "lock": false,
                        "startup": false
                    }
                },
                {
                    "name": "Test",
                    "path": "Z:\\OneDrive\\Projects\\AHKManager\\source\\test\\test_data\\AutoHotKey\\Basic\\Script Manager\\Test.ahk",
                    "state": {
                        "lock": false,
                        "startup": false
                    }
                }
            ],
            "state": {
                "lock": false,
                "startup": false
            }
        },
        {
            "name": "Common",
            "path": "Z:\\OneDrive\\Projects\\AHKManager\\source\\test\\test_data\\AutoHotKey\\Common",
            "script_list": [
                {
                    "name": "Next Desktop",
                    "path": "Z:\\OneDrive\\Projects\\AHKManager\\source\\test\\test_data\\AutoHotKey\\Common\\Next Desktop.ahk",
                    "state": {
                        "lock": false,
                        "startup": false
                    }
                },
                {
                    "name": "Previous Desktop",
                    "path": "Z:\\OneDrive\\Projects\\AHKManager\\source\\test\\test_data\\AutoHotKey\\Common\\Previous Desktop.ahk",
                    "state": {
                        "lock": false,
                        "startup": false
                    }
                },
                {
                    "name": "Select Line",
                    "path": "Z:\\OneDrive\\Projects\\AHKManager\\source\\test\\test_data\\AutoHotKey\\Common\\Select Line.ahk",
                    "state": {
                        "lock": false,
                        "startup": false
                    }
                }
            ],
            "state": {
                "lock": false,
                "startup": false
            }
        },
        {
            "name": "Maplestory",
            "path": "Z:\\OneDrive\\Projects\\AHKManager\\source\\test\\test_data\\AutoHotKey\\Gaming\\Maplestory",
            "script_list": [
                {
                    "name": "Auto Press",
                    "path": "Z:\\OneDrive\\Projects\\AHKManager\\source\\test\\test_data\\AutoHotKey\\Gaming\\Maplestory\\Auto Press.ahk",
                    "state": {
                        "lock": false,
                        "startup": false
                    }
                },
                {
                    "name": "Repeat Press",
                    "path": "Z:\\OneDrive\\Projects\\AHKManager\\source\\test\\test_data\\AutoHotKey\\Gaming\\Maplestory\\Repeat Press.ahk",
                    "state": {
                        "lock": false,
                        "startup": false
                    }
                }
            ],
            "state": {
                "lock": false,
                "startup": false
            }
        },
        {
            "name": "Others",
            "path": "Z:\\OneDrive\\Projects\\AHKManager\\source\\test\\test_data\\AutoHotKey\\Programming\\Others",
            "script_list": [
                {
                    "name": "Duplicate Line",
                    "path": "Z:\\OneDrive\\Projects\\AHKManager\\source\\test\\test_data\\AutoHotKey\\Programming\\Others\\Duplicate Line.ahk",
                    "state": {
                        "lock": false,
                        "startup": false
                    }
                }
            ],
            "state": {
                "lock": false,
                "startup": false
            }
        },
        {
            "name": "SQL",
            "path": "Z:\\OneDrive\\Projects\\AHKManager\\source\\test\\test_data\\AutoHotKey\\Programming\\SQL",
            "script_list": [
                {
                    "name": "Select From",
                    "path": "Z:\\OneDrive\\Projects\\AHKManager\\source\\test\\test_data\\AutoHotKey\\Programming\\SQL\\Select From.ahk",
                    "state": {
                        "lock": false,
                        "startup": false
                    }
                }
            ],
            "state": {
                "lock": false,
                "startup": false
            }
        },
        {
            "name": "Startup",
            "path": "Z:\\OneDrive\\Projects\\AHKManager\\source\\test\\test_data\\AutoHotKey\\Startup",
            "script_list": [
                {
                    "name": "Duplicate Line",
                    "path": "Z:\\OneDrive\\Projects\\AHKManager\\source\\test\\test_data\\AutoHotKey\\Startup\\Duplicate Line.ahk",
                    "state": {
                        "lock": false,
                        "startup": false
                    }
                },
                {
                    "name": "Select Line",
                    "path": "Z:\\OneDrive\\Projects\\AHKManager\\source\\test\\test_data\\AutoHotKey\\Startup\\Select Line.ahk",
                    "state": {
                        "lock": false,
                        "startup": false
                    }
                }
            ],
            "state": {
                "lock": false,
                "startup": false
            }
        }
    ]
}