{
    "profile_list": [
        {
            "name": "Startup",
            "script_id_list": [
                "Z:\\OneDrive\\Projects\\AHKManager\\source\\test\\test_data\\AutoHotKey\\Startup\\Select Line.ahk",
                "Z:\\OneDrive\\Projects\\AHKManager\\source\\test\\test_data\\AutoHotKey\\Startup\\Duplicate Line.ahk"
            ],
            "state": {
                "lock": false,
                "startup": false
            }
        },
        {
            "name": "Programming",
            "script_id_list": [],
            "state": {
                "lock": false,
                "startup": false
            }
        }
    ]
}