{
    "profile_list": [
        {
            "name": "Startup",
            "state": {
                "lock": false,
                "startup": false
            },
            "script_id_list": [
                "Z:\\Cloud\\OneDrive\\Projects\\AHKManager\\source\\test\\test_data\\AutoHotKey\\Basic\\Script Manager\\Variable Mapping.txt",
                "Z:\\Cloud\\OneDrive\\Projects\\AHKManager\\source\\test\\test_data\\AutoHotKey\\Programming\\SQL\\Select From.ahk",
                "Z:\\Cloud\\OneDrive\\Projects\\AHKManager\\source\\test\\test_data\\AutoHotKey\\Basic\\Script Manager\\Test.ahk",
                "Z:\\Cloud\\OneDrive\\Projects\\AHKManager\\source\\test\\test_data\\AutoHotKey\\Common\\Next Desktop.ahk",
                "Z:\\Cloud\\OneDrive\\Projects\\AHKManager\\source\\test\\test_data\\AutoHotKey\\Common\\Previous Desktop.ahk"
            ]
        }
    ]
}