{
    "library_list": [
        {
            "path": "Z:\\Cloud\\odrive\\OneDrive - Main\\Smarty Tomato\\Projects\\AHKManager\\src\\tests\\test_data\\AutoHotKey",
            "name": "AutoHotKey",
            "state": {
                "lock": false,
                "startup": false
            },
            "script_list": [
                {
                    "name": "Template",
                    "path": "Z:\\Cloud\\odrive\\OneDrive - Main\\Smarty Tomato\\Projects\\AHKManager\\src\\tests\\test_data\\AutoHotKey\\Template.ahk",
                    "state": {
                        "lock": false,
                        "startup": false
                    }
                }
            ]
        },
        {
            "path": "Z:\\Cloud\\odrive\\OneDrive - Main\\Smarty Tomato\\Projects\\AHKManager\\src\\tests\\test_data\\AutoHotKey\\Basic",
            "name": "Basic",
            "state": {
                "lock": false,
                "startup": false
            },
            "script_list": [
                {
                    "name": "Kill All Script",
                    "path": "Z:\\Cloud\\odrive\\OneDrive - Main\\Smarty Tomato\\Projects\\AHKManager\\src\\tests\\test_data\\AutoHotKey\\Basic\\Kill All Script.ahk",
                    "state": {
                        "lock": false,
                        "startup": false
                    }
                },
                {
                    "name": "Scripts Toggle",
                    "path": "Z:\\Cloud\\odrive\\OneDrive - Main\\Smarty Tomato\\Projects\\AHKManager\\src\\tests\\test_data\\AutoHotKey\\Basic\\Scripts Toggle.ahk",
                    "state": {
                        "lock": false,
                        "startup": false
                    }
                }
            ]
        },
        {
            "path": "Z:\\Cloud\\odrive\\OneDrive - Main\\Smarty Tomato\\Projects\\AHKManager\\src\\tests\\test_data\\AutoHotKey\\Common",
            "name": "Common",
            "state": {
                "lock": false,
                "startup": false
            },
            "script_list": [
                {
                    "name": "Next Desktop",
                    "path": "Z:\\Cloud\\odrive\\OneDrive - Main\\Smarty Tomato\\Projects\\AHKManager\\src\\tests\\test_data\\AutoHotKey\\Common\\Next Desktop.ahk",
                    "state": {
                        "lock": false,
                        "startup": false
                    }
                },
                {
                    "name": "Previous Desktop",
                    "path": "Z:\\Cloud\\odrive\\OneDrive - Main\\Smarty Tomato\\Projects\\AHKManager\\src\\tests\\test_data\\AutoHotKey\\Common\\Previous Desktop.ahk",
                    "state": {
                        "lock": false,
                        "startup": false
                    }
                },
                {
                    "name": "Select Line",
                    "path": "Z:\\Cloud\\odrive\\OneDrive - Main\\Smarty Tomato\\Projects\\AHKManager\\src\\tests\\test_data\\AutoHotKey\\Common\\Select Line.ahk",
                    "state": {
                        "lock": false,
                        "startup": false
                    }
                }
            ]
        },
        {
            "path": "Z:\\Cloud\\odrive\\OneDrive - Main\\Smarty Tomato\\Projects\\AHKManager\\src\\tests\\test_data\\AutoHotKey\\Gaming\\Maplestory",
            "name": "Maplestory",
            "state": {
                "lock": false,
                "startup": false
            },
            "script_list": [
                {
                    "name": "Auto Press",
                    "path": "Z:\\Cloud\\odrive\\OneDrive - Main\\Smarty Tomato\\Projects\\AHKManager\\src\\tests\\test_data\\AutoHotKey\\Gaming\\Maplestory\\Auto Press.ahk",
                    "state": {
                        "lock": false,
                        "startup": false
                    }
                },
                {
                    "name": "Repeat Press",
                    "path": "Z:\\Cloud\\odrive\\OneDrive - Main\\Smarty Tomato\\Projects\\AHKManager\\src\\tests\\test_data\\AutoHotKey\\Gaming\\Maplestory\\Repeat Press.ahk",
                    "state": {
                        "lock": false,
                        "startup": false
                    }
                }
            ]
        },
        {
            "path": "Z:\\Cloud\\odrive\\OneDrive - Main\\Smarty Tomato\\Projects\\AHKManager\\src\\tests\\test_data\\AutoHotKey\\Programming\\Others",
            "name": "Others",
            "state": {
                "lock": false,
                "startup": false
            },
            "script_list": [
                {
                    "name": "Duplicate Line",
                    "path": "Z:\\Cloud\\odrive\\OneDrive - Main\\Smarty Tomato\\Projects\\AHKManager\\src\\tests\\test_data\\AutoHotKey\\Programming\\Others\\Duplicate Line.ahk",
                    "state": {
                        "lock": false,
                        "startup": false
                    }
                }
            ]
        },
        {
            "path": "Z:\\Cloud\\odrive\\OneDrive - Main\\Smarty Tomato\\Projects\\AHKManager\\src\\tests\\test_data\\AutoHotKey\\Programming\\SQL",
            "name": "SQL",
            "state": {
                "lock": false,
                "startup": false
            },
            "script_list": [
                {
                    "name": "Select From",
                    "path": "Z:\\Cloud\\odrive\\OneDrive - Main\\Smarty Tomato\\Projects\\AHKManager\\src\\tests\\test_data\\AutoHotKey\\Programming\\SQL\\Select From.ahk",
                    "state": {
                        "lock": false,
                        "startup": false
                    }
                }
            ]
        },
        {
            "path": "Z:\\Cloud\\odrive\\OneDrive - Main\\Smarty Tomato\\Projects\\AHKManager\\src\\tests\\test_data\\AutoHotKey\\Startup",
            "name": "Startup",
            "state": {
                "lock": false,
                "startup": false
            },
            "script_list": [
                {
                    "name": "Duplicate Line",
                    "path": "Z:\\Cloud\\odrive\\OneDrive - Main\\Smarty Tomato\\Projects\\AHKManager\\src\\tests\\test_data\\AutoHotKey\\Startup\\Duplicate Line.ahk",
                    "state": {
                        "lock": false,
                        "startup": false
                    }
                },
                {
                    "name": "Select Line",
                    "path": "Z:\\Cloud\\odrive\\OneDrive - Main\\Smarty Tomato\\Projects\\AHKManager\\src\\tests\\test_data\\AutoHotKey\\Startup\\Select Line.ahk",
                    "state": {
                        "lock": false,
                        "startup": false
                    }
                }
            ]
        }
    ]
}