{
    "profile_list": [
        {
            "name": "Prrogramming",
            "state": {
                "lock": false,
                "startup": false
            },
            "script_id_list": [
                "Z:\\Cloud\\odrive\\OneDrive - Main\\Smarty Tomato\\Projects\\AHKManager\\tests\\test_data\\AutoHotKey\\Startup\\Duplicate Line.ahk",
                "Z:\\Cloud\\odrive\\OneDrive - Main\\Smarty Tomato\\Projects\\AHKManager\\tests\\test_data\\AutoHotKey\\Programming\\SQL\\Select From.ahk",
                "Z:\\Cloud\\odrive\\OneDrive - Main\\Smarty Tomato\\Projects\\AHKManager\\tests\\test_data\\AutoHotKey\\Startup\\Select Line.ahk"
            ]
        }
    ]
}