{
    "utility": {
        "enable_save": true,
        "enable_logging": false,
        "log_level": 2,
        "enable_debugging": true,
        "file_types": [
            ".ahk",
            ".txt"
        ],
        "ahk_executable": "C:\\Program Files\\AutoHotkey\\AutoHotkey.exe"
    },
    "main_window": {
        "name": "AHK Manager",
        "width": 1000,
        "height": 800,
        "icon_path": "resources/icon/icon.png"
    },
    "add_script_dialog": {
        "name": "Add script to profile",
        "width": 1000,
        "height": 800
    },
    "settings_dialog": {
        "name": "Settings",
        "width": 400,
        "height": 300
    }
}