{
    "profiles": [
        {
            "name": "programming",
            "scripts": [
                {
                    "script_path": "Z:\\OneDrive\\Sync\\Scripts\\AutoHotKey\\Startup\\Duplicate Line.ahk",
                    "status": {
                        "exclude": false,
                        "hide": false,
                        "lock": false,
                        "startup": false
                    },
                    "title": "Duplicate Line"
                }
            ],
            "status": {
                "exclude": false,
                "hide": false,
                "lock": false,
                "startup": false
            }
        },
        {
            "name": "gaming",
            "scripts": [
                {
                    "script_path": "Z:\\OneDrive\\Sync\\Scripts\\AutoHotKey\\Common\\Select Line.ahk",
                    "status": {
                        "exclude": false,
                        "hide": false,
                        "lock": false,
                        "startup": false
                    },
                    "title": "Select Line"
                }
            ],
            "status": {
                "exclude": false,
                "hide": false,
                "lock": false,
                "startup": false
            }
        }
    ],
    "repository": {
        "libraries": [
            {
                "library_path": "Z:\\OneDrive\\Sync\\Scripts\\AutoHotKey",
                "scripts": [
                    {
                        "script_path": "Z:\\OneDrive\\Sync\\Scripts\\AutoHotKey\\Template.ahk",
                        "status": {
                            "exclude": false,
                            "hide": false,
                            "lock": false,
                            "startup": false
                        },
                        "title": "Template"
                    }
                ],
                "status": {
                    "exclude": false,
                    "hide": false,
                    "lock": false,
                    "startup": false
                },
                "title": "AutoHotKey"
            },
            {
                "library_path": "Z:\\OneDrive\\Sync\\Scripts\\AutoHotKey\\Basic",
                "scripts": [
                    {
                        "script_path": "Z:\\OneDrive\\Sync\\Scripts\\AutoHotKey\\Basic\\Kill All Script.ahk",
                        "status": {
                            "exclude": false,
                            "hide": false,
                            "lock": false,
                            "startup": false
                        },
                        "title": "Kill All Script"
                    },
                    {
                        "script_path": "Z:\\OneDrive\\Sync\\Scripts\\AutoHotKey\\Basic\\Scripts Toggle.ahk",
                        "status": {
                            "exclude": false,
                            "hide": false,
                            "lock": false,
                            "startup": false
                        },
                        "title": "Scripts Toggle"
                    }
                ],
                "status": {
                    "exclude": false,
                    "hide": false,
                    "lock": false,
                    "startup": false
                },
                "title": "Basic"
            },
            {
                "library_path": "Z:\\OneDrive\\Sync\\Scripts\\AutoHotKey\\Basic\\Script Manager",
                "scripts": [
                    {
                        "script_path": "Z:\\OneDrive\\Sync\\Scripts\\AutoHotKey\\Basic\\Script Manager\\Script Manager 2.ahk",
                        "status": {
                            "exclude": false,
                            "hide": false,
                            "lock": false,
                            "startup": false
                        },
                        "title": "Script Manager 2"
                    },
                    {
                        "script_path": "Z:\\OneDrive\\Sync\\Scripts\\AutoHotKey\\Basic\\Script Manager\\Script Manager Custom.ahk",
                        "status": {
                            "exclude": false,
                            "hide": false,
                            "lock": false,
                            "startup": false
                        },
                        "title": "Script Manager Custom"
                    },
                    {
                        "script_path": "Z:\\OneDrive\\Sync\\Scripts\\AutoHotKey\\Basic\\Script Manager\\Script Manager.ahk",
                        "status": {
                            "exclude": false,
                            "hide": false,
                            "lock": false,
                            "startup": false
                        },
                        "title": "Script Manager"
                    },
                    {
                        "script_path": "Z:\\OneDrive\\Sync\\Scripts\\AutoHotKey\\Basic\\Script Manager\\Test.ahk",
                        "status": {
                            "exclude": false,
                            "hide": false,
                            "lock": false,
                            "startup": false
                        },
                        "title": "Test"
                    }
                ],
                "status": {
                    "exclude": false,
                    "hide": false,
                    "lock": false,
                    "startup": false
                },
                "title": "Script Manager"
            },
            {
                "library_path": "Z:\\OneDrive\\Sync\\Scripts\\AutoHotKey\\Common",
                "scripts": [
                    {
                        "script_path": "Z:\\OneDrive\\Sync\\Scripts\\AutoHotKey\\Common\\Next Desktop.ahk",
                        "status": {
                            "exclude": false,
                            "hide": false,
                            "lock": false,
                            "startup": false
                        },
                        "title": "Next Desktop"
                    },
                    {
                        "script_path": "Z:\\OneDrive\\Sync\\Scripts\\AutoHotKey\\Common\\Previous Desktop.ahk",
                        "status": {
                            "exclude": false,
                            "hide": false,
                            "lock": false,
                            "startup": false
                        },
                        "title": "Previous Desktop"
                    },
                    {
                        "script_path": "Z:\\OneDrive\\Sync\\Scripts\\AutoHotKey\\Common\\Select Line.ahk",
                        "status": {
                            "exclude": false,
                            "hide": false,
                            "lock": false,
                            "startup": false
                        },
                        "title": "Select Line"
                    }
                ],
                "status": {
                    "exclude": false,
                    "hide": false,
                    "lock": false,
                    "startup": false
                },
                "title": "Common"
            },
            {
                "library_path": "Z:\\OneDrive\\Sync\\Scripts\\AutoHotKey\\Gaming",
                "scripts": [],
                "status": {
                    "exclude": false,
                    "hide": false,
                    "lock": false,
                    "startup": false
                },
                "title": "Gaming"
            },
            {
                "library_path": "Z:\\OneDrive\\Sync\\Scripts\\AutoHotKey\\Gaming\\Maplestory",
                "scripts": [
                    {
                        "script_path": "Z:\\OneDrive\\Sync\\Scripts\\AutoHotKey\\Gaming\\Maplestory\\Auto Press.ahk",
                        "status": {
                            "exclude": false,
                            "hide": false,
                            "lock": false,
                            "startup": false
                        },
                        "title": "Auto Press"
                    },
                    {
                        "script_path": "Z:\\OneDrive\\Sync\\Scripts\\AutoHotKey\\Gaming\\Maplestory\\Repeat Press.ahk",
                        "status": {
                            "exclude": false,
                            "hide": false,
                            "lock": false,
                            "startup": false
                        },
                        "title": "Repeat Press"
                    }
                ],
                "status": {
                    "exclude": false,
                    "hide": false,
                    "lock": false,
                    "startup": false
                },
                "title": "Maplestory"
            },
            {
                "library_path": "Z:\\OneDrive\\Sync\\Scripts\\AutoHotKey\\Programming",
                "scripts": [],
                "status": {
                    "exclude": false,
                    "hide": false,
                    "lock": false,
                    "startup": false
                },
                "title": "Programming"
            },
            {
                "library_path": "Z:\\OneDrive\\Sync\\Scripts\\AutoHotKey\\Programming\\Others",
                "scripts": [
                    {
                        "script_path": "Z:\\OneDrive\\Sync\\Scripts\\AutoHotKey\\Programming\\Others\\Duplicate Line.ahk",
                        "status": {
                            "exclude": false,
                            "hide": false,
                            "lock": false,
                            "startup": false
                        },
                        "title": "Duplicate Line"
                    }
                ],
                "status": {
                    "exclude": false,
                    "hide": false,
                    "lock": false,
                    "startup": false
                },
                "title": "Others"
            },
            {
                "library_path": "Z:\\OneDrive\\Sync\\Scripts\\AutoHotKey\\Programming\\SQL",
                "scripts": [
                    {
                        "script_path": "Z:\\OneDrive\\Sync\\Scripts\\AutoHotKey\\Programming\\SQL\\Select From.ahk",
                        "status": {
                            "exclude": false,
                            "hide": false,
                            "lock": false,
                            "startup": false
                        },
                        "title": "Select From"
                    }
                ],
                "status": {
                    "exclude": false,
                    "hide": false,
                    "lock": false,
                    "startup": false
                },
                "title": "SQL"
            },
            {
                "library_path": "Z:\\OneDrive\\Sync\\Scripts\\AutoHotKey\\Startup",
                "scripts": [
                    {
                        "script_path": "Z:\\OneDrive\\Sync\\Scripts\\AutoHotKey\\Startup\\Duplicate Line.ahk",
                        "status": {
                            "exclude": false,
                            "hide": false,
                            "lock": false,
                            "startup": false
                        },
                        "title": "Duplicate Line"
                    },
                    {
                        "script_path": "Z:\\OneDrive\\Sync\\Scripts\\AutoHotKey\\Startup\\Select Line.ahk",
                        "status": {
                            "exclude": false,
                            "hide": false,
                            "lock": false,
                            "startup": false
                        },
                        "title": "Select Line"
                    }
                ],
                "status": {
                    "exclude": false,
                    "hide": false,
                    "lock": false,
                    "startup": false
                },
                "title": "Startup"
            }
        ]
    }
}